# Byte-compiled / DLL / optimized files...
__pycache__/

# OSX
.DS_STORE

# Jupyter notebook
*.ipynb_checkpoints/

# nbsite output
builtdocs/
doc/tools.rst
doc/_static/cache/

# doit
.doit.db

# pytest
.pytest_cache
