# Byte-compiled / DLL / optimized files...
__pycache__/

# OSX
.DS_STORE

# Jupyter notebook
*.ipynb_checkpoints/

# Sphinx output
builtdocs/

# Badges, stored on the cache branch
doc/_static/cache/

# pytest
.pytest_cache

# uv
.venv/

*~
