    <div id="tools-wrapper">
    {% for section in config %}
    <h3 id="{{ section.name.lower().replace(' ', '-') }}">{{ section.name }}<a class="headerlink" href="#{{ section.name.lower().replace(' ', '-') }}" title="Permalink to {{ section.name }}">¶</a></h3>
    {{ section.get('intro', '') }}
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th>Stars</th>
        <th>Contributors</th>
        <th>Downloads</th>
        <th></th>
        <th>License</th>
        <th>Docs</th>
        <th>PyPI</th>
        <th>Conda</th>
        <th>Sponsors</th>
      </tr>
      {% for package in section.packages %}
      <tr>
        <td align='left'>
          <a href="http://github.com/{{ package.repo }}">{{ package.name }}</a>
        </td>
        <td align='left'>
          {% if 'dormant' in package.badges %}
            <a href="{{ package.dormant }}">
              <img src="_static/dormant.svg">
            </a>
          {% endif %}
        </td>
        <td align='left'>
          <a href="https://github.com/{{ package.repo }}/stargazers">
            <img src="_static/cache/{{ package.name }}_stars_badge.svg">
          </a>
        </td>
        <td align='left'>
          <a href="https://github.com/{{ package.repo }}/graphs/contributors">
            <img src="_static/cache/{{ package.name }}_contributors_badge.svg">
          </a>
        </td>
          {% if 'pypi' in package.badges %}
          <td align='left'>
            <img src="_static/cache/{{ package.name }}_pypi_downloads_badge.svg">
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'conda' in package.badges %}
          <td align='left'>
            <img src="_static/cache/{{ package.name }}_conda_downloads_badge.svg">
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'pypi' in package.badges %}
            <td align='left'>
              <img src="_static/cache/{{ package.name }}_license_badge.svg">
            </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'site' in package.badges %}
          <td align='left'>
            <a href="{{ package.site_protocol }}://{{ package.site }}">
              <img src="https://img.shields.io/website-up-down-green-red/{{ package.site_protocol }}/{{ package.site }}.svg">
            </a>
          </td>
          {% elif 'rtd' in package.badges %}
          <td align='left'>
            <a href="https://{{ package.rtd_name }}.readthedocs.io">
              <img src="https://readthedocs.org/projects/{{ package.rtd_name }}/badge/?version=latest">
            </a>
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'pypi' in package.badges %}
          <td align='left'>
            <a href="https://pypi.python.org/pypi/{{ package.pypi_name }}">
              <img src="https://img.shields.io/pypi/v/{{ package.pypi_name }}.svg?label">
            </a>
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'conda' in package.badges %}
          <td align='left'>
            <a href="https://anaconda.org/{{ package.conda_channel }}/{{ package.conda_package }}">
              <img src="https://img.shields.io/conda/vn/{{ package.conda_channel }}/{{ package.conda_package }}.svg?style=flat">
            </a>
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'sponsor' in package.badges %}
            <td align='left'>
            {% for sponsor in package.sponsors %}
              {% if sponsors.get(sponsor) %}
                <a href="{{ sponsors[sponsor].get('url') }}">
                {% if sponsors[sponsor].get('logo') %}
                  <img class='sponsor-logo' src="{{ sponsors[sponsor]['logo'] }}" title="{{ sponsors[sponsor].get('label', sponsor) }}">
                {% else %}
                  {{ sponsors[sponsor].get('label', sponsor) }}
                {% endif %}
                </a>
              {% else %}
                {{ sponsor }}
              {% endif %}
            {% endfor %}
            </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    </div>
